<div class="row">
    <div class="col-md-2">
        <input type="text" ng-model="" placeholder="Enter the date">
    </div>
    <div class="col-md-2">
        <input type="text" ng-model="" placeholder="Enter the groccery name">
    </div>
    <div class="col-md-2">
        <input type="number" ng-model="" placeholder="Enter the quantity">
    </div>
    <div class="col-md-2">
        <input type="text" ng-model="" placeholder="Enter the price">
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" ng-click="grocForm.addList()">Submit</button>
    </div>
</div>